<%- include("../partials/header.ejs");%>

<div class="addMusic-container">
  <h2>Add Music</h2>
  <div class="backContainer">
    <a href="#" onclick="window.location.href=document.referrer;" class="backbutton">Back</a>
  </div>

  <form action="/createMusic" method="POST" enctype="multipart/form-data">
    <h3>Title:</h3>
    <input type="text" name="MusicTitle" required />
    <h3>Description:</h3>
    <input type="text" name="MusicDescription" required />
    <h3>Music:</h3>
    <input type="file" name="myfile" required />
    <button type="submit">Submit</button>
  </form>
</div>






<%- include("../partials/footer.ejs");%>
