    
    <%- include("../partials/header.ejs"); %>

<div class="addMusic-container">
  <h2>Add Banner</h2>
  <div class="backContainer">
    <a href="#" onclick="window.history.back();" class="backbutton">Back</a>
  </div>

  <form action="/createBanners" method="POST" enctype="multipart/form-data">
    <h3>Image:</h3>
    <input type="file" name="Image"  required />

    
    <button type="submit">Submit</button>
  </form>
</div>



<%- include("../partials/footer.ejs"); %>
