<%- include("../partials/header.ejs");%>

<div class="addMusic-container">
  <h2>Add User</h2>
  <div class="backContainer">
    <a
      href="#"
      onclick="window.location.href=document.referrer;"
      class="backbutton"
      >Back</a>
  </div>

  <form action="/createUsers" method="POST" enctype="multipart/form-data">

    <h4>Images:</h4>
    <input type="file" name="image" required />
    <h4>Name:</h4>
    <input type="text" name="name" required />
    <h4>Email:</h4>
    <input type="text" name="email" required />
    <button type="submit">Submit</button>
  </form>
</div>



<%- include("../partials/footer.ejs");%>
