<%- include("../partials/header");%>

<div class="terms">
  <a href="/dashboard"> DashBoard</a>
</div>

<div class="privacy">
  <h1>Privacy Policy</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae.
  </p>
  <p>
    Consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed
    odit fugiat iusto fuga praesentium optio, eaque rerum!
  </p>
  <p>
    Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure
    eius earum ut molestias architecto voluptate aliquam nihil.
  </p>
  <p>
    Commodi minima excepturi repudiandae velit hic maxime doloremque. Quaerat
    provident commodi consectetur veniam similique.
  </p>
  <p>
    Possimus quis earum veniam quasi aliquam eligendi quam temporibus sint
    culpa.
  </p>
</div>
<style>
  /* body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }/*/

  .terms {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
    text-align: right;
  }

  .privacy {
    max-width: 850px;
    margin: 60px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

  @media (max-width: 600px) {
    .container {
      padding: 15px;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
</style>

<%- include("../partials/footer");%>
